numpy
tqdm
wandb
einops
requests
fabric
optax
git+https://github.com/deepmind/dm-haiku
git+https://github.com/EleutherAI/lm-evaluation-harness/
ray
jax
Flask
cloudpickle
tensorflow
google-cloud-storage
transformers
smart_open
func_timeout
ftfy
fastapi
uvicorn
lm_dataformat
